# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/src/_dev_test
/src/*/*.txt

# production
/build

# misc
aws console.txt

#env var
.env

#configurations
ecosystem.config.js
ecosystem.config.cjs

#logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.tsbuildinfo

# SSL
localhost.pem
localhost-key.pem